* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(81, 215, 81);
}
